@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Nuevos Lanzamientos</h1>
                    <p>Disfruta cada paso como si pisaras las nubes.</p>
                    <section class="seccion1">
                        <img src="~/img/nube.jpg" />
                        <img src="~/img/jor.jpg" />
                        <img src="~/img/naraja.jpg" />
                        <img src="~/img/white.jpg" />
                    </section>

                    <p><a class="btn btn-lg btn-primary" href="#">Compra YA</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption">
                    <img class="circulo" src="~/img/descuento.png" />
                    <h1>Disfruta de nuestros descuentos por este Septiembre.</h1>

                    <p>El descuento es por solo un producto en promacion.</p>

                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Camisetas Jordan.</h1>
                    <div id="seccion2">
                        <section class="seccion2">
                            <img src="~/img/camiseta1.jpg" />
                            <img src="~/img/camiseta2.jpg" />
                            <img src="~/img/camiseta3.jpg" />
                            <img src="~/img/camiseta4.jpg" />
                        </section>
                    </div>
                    <p>Las camisetas Jordan son un clásico atemporal que nunca pasará de moda.</p>

                    <p><a class="btn btn-lg btn-primary" href="#">Obtenlo ya</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/rojo.jpg" />

            </div>
           
            <h2>Zapatillas Jordans</h2>

            <p>"Consigue los tenis Jordan que siempre has querido a un precio asequible.".</p>
            <p><a class="btn btn-secondary" href="#">Ver ya &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/salto.jpg" />

            </div>
            <h2>Gorros Jordan</h2>
            <p>Los gorros Jordan son un accesorio atemporal que nunca pasará de moda.</p>
            <p><a class="btn btn-secondary" href="#">Ver ya &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="conter">
                <img class="redondo" id="centro" src="~/img/plomo.jpg" />

            </div>
            <h2>Camisetas Jordan</h2>
            <p>Las camisetas Jordan son el complemento perfecto para cualquier outfit.</p>
            <p><a class="btn btn-secondary" href="#">Ver ya &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Un regalito. <span class="text-muted">Pequeño pero con estilo.</span></h2>
            <p class="lead">Por cada compra llevate un llavero de nuestra tienda.</p>
        </div>
        <div class="col-md-5">
            <img src="~/img/llavero.jpg" />
        </div>
    </div>

   
   

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
